#
#   Step 1: copy to /etc/udev/rules.d/99-vlloigc.rules
#   Step 2: "sudo udevadm control --reload-rules"
#   Step 3: "sudo udevadm trigger"
#   Step 4: unplug your device and plug it back in
#

ACTION!="add", SUBSYSTEM!="usb_device", GOTO="vllogic_rules_end"

SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="6666", MODE="666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0d28", ATTR{idProduct}=="0204", MODE="666"

KERNEL=="ttyACM[0-9]*", MODE="666"

LABEL="vllogic_rules_end"
